/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  scroll-behavior: smooth;
  
}
/* 
.costum-cursor{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.site-wide{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid  #C7A1EB;
}
.site-wide .pointer{
  position: absolute;
  top: 50;
  left: 50;
  transform: translate(-50%,-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #C7A1EB;
} */
header {
  background-color: #1c1c1c;
  padding: 20px;
  margin-left: 50px;
  margin-right: 25px;
}

.header-container {
  width: 100%;
  min-height: 100vm;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  box-shadow: 0 15px 10px rgba(0,0,0,0.4);
  opacity: 0;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: slideRight 1s ease-in-out forwards;
  
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.links a{
  font-size: 30px;
  color: #fff;
  margin: 25px 20px;
  
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.links ul li {
  margin-left : 10px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 90;
  
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

nav a {
  /* transition: background-color 0.2s ease-out; */
  text-decoration: none;
  color: #dcdcdc;
  font-size: 1.5rem;
  font-family: freight;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

nav ul li a:hover ,
.links a :hover{
  text-decoration: none;
  border-bottom: 2px solid #2a2a2a;
  color: #C7A1EB;
  transform: translateY(-2px);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.wrapper{
  display: flex;
   width: 100%;
   height:100%;
   justify-content: start;
   align-items: start;
   padding: 0 10%;
   overflow: hidden;
   
}
.cols{
  width: 50%;
}
.topline{
  font-family: freight;
  display: block;
  position: relative;
  font-size: 30px;
  letter-spacing: 5px;
  color: #C7A1EB;
}

.name {
  display: inline-block;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  /* text-shadow: 3px 3px 3px #C7A1EB; */
  text-transform: uppercase;
}

.motto{
  display: block;
  width: 90%;
  font-size: 8em;
  font-weight: bold;
  letter-spacing: 5px;
  color: #C7A1EB;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  
}

.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 200;
  color: #C7A1EB;
  line-height: 90vh;
  z-index: 100;
  opacity: 1;
  transition: opacity 3s ease-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn{
  to {
    opacity: 1;
  }

}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: #000;
  z-index: -100;
  line-height: 90vh;
  animation: fade-out 0.2s ease-in-out forwards;
}


.multiText{
  text-transform: capitalize;
  
}
.colored-p{
  color: #C7A1EB;
}
h1{
  display: block;
  font-size: 4em;
  font-weight: 900;
  color: #C7A1EB;
  /* transform: scaleY(2.5); */
}
h2{
  display: block;
  font-size: 3em;
  font-weight: 900;
  color: #a9b4af;
  letter-spacing: 6px;
  font-weight: bold;
}
.btns{
  width: 100%;
  position: relative;
  left: 20px;

}
button{
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  background-color: #C7A1EB;
  padding: 8px 14px;
  margin: 10px 5px;
  text-transform: capitalize;
  letter-spacing: 2px;
  box-shadow: 15px 15px 10px rgba(0,0,0,0.4);
  border-radius: 10px;
}
button:hover{
  background-color: #a9b4af;
}
.imagebox{
  position: relative;
  margin-left: 10px;
  width: 80%;
  height: 80%;
  
  
}
.imagebox img{
  
  width: 100%; /* Make the image fill the entire width of the container */
  height: 100%; /* Maintain aspect ratio of the image */
  /* mask-image: linear-gradient(to bottom, transparent 1%, black, transparent 99%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black, transparent 99%); */
  /* border-radius: 10%; */
  opacity: 0;
  transform: translateX(50%);
  /* box-shadow: 5px 5px 5px #C7A1EB; */
  animation: slideLeft 1s ease-in-out forwards;
  
  
}


.h1, h2, h4 {
  margin-bottom: 20px;
}

.profile-pic {
  width: 70vh; /* Make the image fill the entire width of the container */
  height: 70vh; /* Maintain aspect ratio of the image */
  /* mask-image: linear-gradient(to bottom, transparent 1%, black, transparent 99%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black, transparent 99%); */
  border-radius: 50%;

} */

main {
  opacity: 1;
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 60px 20px 50px; */
}
section {
  margin: 80px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
section h1{
  display: block;
  font-size: 5em;
  font-weight: 900;
  color: #C7A1EB;
}

section h2 {
  color: #C7A1EB;
  font-size: 36px;
  margin-bottom: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
li {
  width: calc(33.33% - 20px);
 
}
li:last-child {
  margin-right: 0;
}

li a {
  display: block;
  position: relative;
}

li img {
  max-width: 100%;
  height: auto;
}

li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

section form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

#aboutMe{
  display: flex;
  justify-content: start;
   align-items: start;
   padding: 0 10%;
   overflow: hidden;
  font-size: 20px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  letter-spacing: 3px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex-basis: calc(25% - 50px);
  margin-bottom: 3px;
}

.col:last-child {
  margin-right: 0;
}

hr {
  border: none;
  border-top: 1px solid #dee2e6;
  margin-top: 20px;
}


/* Style for the Resume section */
#resume {
  color: #fff;
  padding: 40px 30px;
  margin-top: ;
}


body {
  background-color: #1c1c1c;
  color: #fff;
}

.job-description,
.education-description {
  margin: 0 auto;
  max-width: 700px;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  
}

.resume-section h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

/* .skills-list li {
  margin-bottom: 10px;
  line-height: 1.4;
}

.skills-list h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
} */

.resume-section p {
  font-size: 16px;
}

.skills-list ul {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}


.skills-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  display: inline-block;
  margin-right: 20px;
}

.skills-list li i {
  font-size: 40px;
  margin-right: 10px;
  color: #fff;
}
.styled-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #fff;
  color: #2a2a2a;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 2px solid #2a2a2a;
}

.styled-button:hover {
  background-color: #fdbdb0;
  color: #2a2a2a;
  border: 2px solid #2a2a2a;
}
/* #projects {
  background-color: #f5f5f5;
  padding: 50px 0;
} */

#projects h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

#projects ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#projects li {
  margin: 20px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
}

#projects li a {
  display: block;
  text-decoration: none;
  color: #333;
}

#projects li img {
  width: 100%;
  height: 250px;
}

#projects li h3 {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}

#contact {
  letter-spacing: 3px;
}

.contact-body{
  font-size: 2em;

}
.reverse{
  transform: rotateY(180deg);
}
.outline-text {
  font-size: 5em;
  color: transparent; /* Set the color of the text outline */
  -webkit-text-stroke: 2px #fff; /* Add a 1-pixel black outline around the text */
  font-weight: bold;
}

.timeline-section{
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	/* text-align: left; */
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
    
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}