/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  scroll-behavior: smooth;
}
body {
  cursor: url('click.png'), auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #dcdcdc;
  background-color: #121212;
}
a {
  color: #dcdcdc;
  text-decoration: none;
}
a:hover {
  color: #fdbdb0;
}
h1, h2, h3 {
  font-weight: normal;
  line-height: 1.2;
}
/* .profile-pic {
  width: max-content;
  height: max-content;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin-right: 20px;
} */


/* .intro {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* @media (max-width: 768px) {
  /* adjust the image size for smaller screens */
  /* .intro img { */
    /* max-width: 300px; */
  /* }
} */
/* .intro .name,
.intro .title {
  display: inline;
  margin-right: 10px; /* add some spacing between the name and title */
/* } */
/* .intro .title{
  font-family: Arial, Helvetica, sans-serif;
  font-size:40px ;
} */
/* .intro .name{
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  font-style: italic;
  line-height: 1.5;
} */
/* .intro p {
  
  margin: 10px;
}  */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to the viewport height to make it full-screen */
}

.profile-pic {
  width: 100vw; /* Make the image fill the entire width of the container */
  height: auto; /* Maintain aspect ratio of the image */
}

header {
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); */
  background-color: #1c1c1c;
  padding: 20px;
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  margin-left: 30px;
}
.logo h1 {
  font-size: 1.5rem;
}
nav a {
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  color: #dcdcdc;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 20px;
}
nav ul li a:hover {
  background-color: #fdfdfd;
  border-bottom: 2px solid #2a2a2a;
}
.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #121212;
  color: #f0a2a9;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn:hover {
  background-color: #fdbdb0;
  color: #2a2a2a;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}
section {
  
  margin: 80px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
section h2 {
  color: #fdbdb0;
  font-size: 36px;
  margin-bottom: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
li {
  width: calc(33.33% - 20px);
 
}
li:last-child {
  margin-right: 0;
}

li a {
  display: block;
  position: relative;
}

li img {
  max-width: 100%;
  height: auto;
}

li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

section form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
}

textarea {
  height: 150px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('logo-no-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.icon-github {
  background-image: url('git_logo.png');
  width: 60px;
  height: 40px;
}

.icon-linkedin {
  background-image: url('linkedin_logo.png');
  width: 60px;
  height: 40px;
  border-radius: 20%;
}

.icon-email {
  background-image: url('path/to/email-icon.png');
}

.styled-button {
  background-color: #fdbdb0;
  /* Green background color */
  border: none;
  /* Remove default border */
  color: #2a2a2a;
  /* Text color */
  padding: 12px 24px;
  /* Padding to increase button size */
  text-align: center;
  /* Center text */
  text-decoration: none;
  /* Remove underline */
  display: inline-block;
  /* Ensure button is not full-width */
  font-size: 16px;
  /* Font size */
  border-radius: 4px;
  /* Rounded corners */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Add shadow */
}

.styled-button:hover {
  background-color: #fdbdb0;
  /* Darker green background color on hover */
  color: #2a2a2a;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex-basis: calc(25% - 50px);
  margin-bottom: 3px;
}

.col:last-child {
  margin-right: 0;
}

hr {
  border: none;
  border-top: 1px solid #dee2e6;
  margin-top: 20px;
}

.github-link,
.linkedin-link {
  margin-bottom: 3px;
  margin : 3px
  
}

/* Style for the Resume section */
#resume {
  background-color: #333;
  color: #fff;
  padding: 40px 30px;
  margin-top: ;
}


body {
  background-color: #1c1c1c;
  color: #fff;
}

.job-description,
.education-description {
  margin: 0 auto;
  max-width: 700px;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
}

.resume-section h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.skills-list li {
  margin-bottom: 10px;
  line-height: 1.4;
}

.skills-list h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.resume-section p {
  font-size: 16px;
  margin-bottom: 10px;
}

.skills-list ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.skills-list {
  margin-left: 50px;
}

.resume-section ul li:before {
  content: "\2022";
  font-size: 20px;
  color: #fff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.styled-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #fff;
  color: #2a2a2a;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 2px solid #2a2a2a;
}

.styled-button:hover {
  background-color: #fdbdb0;
  color: #2a2a2a;
  border: 2px solid #2a2a2a;
}
